{% if not currentUser or not currentUser.can('accessCp') %}
  {% redirect "bookings/login" %}
{% endif %}

{% set class = craft.entries.section('masterclasses').id(craft.request.getSegment(3)).first %}
{% set products = craft.commerce.products.relatedTo(class).endDate('> ' ~ now | date_modify("-1 day")).order('date').limit(NULL) %}

{% set metaTitle = class.title %}

{% extends "bookings/_layout" %}

{% block content %}

<div class="ui masthead vertical">
<div class="ui container">
  <h1 class="ui header">
      <i class="trophy icon"></i> {{ masterclass.title }} ({{ products | length }} products)
  </h1>
</div>
</div>

<div class="ui container">

  {% if craft.request.getSegment(4) == 'edited' %}
    {% include "bookings/incs/messages/_productEdited" %}
  {% elseif craft.request.getSegment(4) == 'removed' %}
    {% include "bookings/incs/messages/_productDeleted" %}
  {% else %}
    {% include "bookings/incs/messages/_productAdded" %}
  {% endif %}

  <div class="ui column grid">
    <div class="column">
      <a href="{{ siteUrl }}products/masterclass/add" class="ui button pink"><i class="plus icon white"></i>Add masterclass</a>
    </div>
  </div>

  <div class="ui column grid">
    <div class="column">

        <section class="ui styled accordion">
            <div class="content active">
              {% if products | length %}
                <table class="ui selectable very basic table">
                  <thead>
                    <tr>
                      <th><i class="tags icon"></i> Product name, time</th>
                      <th></th>
                      <th>Availability</th>
                      <th>Teacher/room</th>
                      <th>SKU</th>
                      <th>Links</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for product in products %}
                    {% set teacher = product.teacher.first %}
                    {% set variant = product.defaultVariant %}
                    <tr>
                      <td>
                        <p>
                          <i class="trophy icon"></i>
                          <strong>{{ product.title }}, {{ product.startTime | date('H.i') }}-{{ product.finishTime | date('H.i') }}</strong>
                        </p>
                      </td>
                      <td><a href="{{ siteUrl }}products/masterclass/edit/{{ product.id }}" class="">Edit</a></td>
                      <td>{{ variant.stock }} places available</td>
                      <td>{% if teacher | length %}{{ teacher.name }}, {% endif %}{% if product.room != 'nA' %}{{ product.room.label }}{% endif %}</td>
                      <td>{{ variant.sku }}</td>
                      <td><a href="{{ craft.config.publicSiteUrl }}{{ class.uri }}" target="_blank"><i class="tags icon"></i></a> <a href="{{ craft.config.publicSiteUrl }}{{ product.uri }}" target="_blank"><i class="tag icon"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <p><i class="minus circle icon"></i> No products match this class/tour. <a href="{{ siteUrl }}products/add">Click here to create a new product.</a></p>
              {% endif %}
            </div>
        </section>
    </div>
  </div>
</div>

{% endblock %}
