/*
###################################
IMPORTANT NOTICE
###################################
*/
#lcp-globalnoticeclosed__bar {
    height: 2rem; background: $tintColor;
    margin-bottom: 0;

    @media (max-width: 767px) {
      display: none !important;
    }
}
    #lcp-globalnoticeclosed__bar p {
      float: left;
      padding: 0 14px 0; margin: 0;            
      @include font('sans', 16, $highlightColor); line-height: 2rem; color: $textColor;
      font-weight: bold;

      span {
        font-weight: bold;  text-transform: uppercase;
      }
    }
    #lcp-globalnoticeclosed__openbutton {
        float: right;
        display: block;
        padding: 0 14px 0; margin: 0;
        @include font('sans', 16, $highlightColor); line-height: 2rem; color: $textColor;
        font-weight: bold;
    }


#lcp-globalnoticeopen__section {
  position: relative;
  margin-bottom: 0;
  background: $tintColor;
  padding: 0 20px;
}
#lcp-globalnoticeopen__section:before {
  display: block;
  position: absolute; left: 0; top: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.65);
  content: "";
}

    #lcp-globalnoticeopen__closebutton {
        
        display: block; width: 40px; height: 40px;
        margin: 15px;
        position: absolute; right: 0; top: 0;

        @media (min-width: $md) {
          width: 50px; height: 50px;
        }
    }
        #lcp-globalnoticeopen__closebutton svg {
          width: 40px; height: 40px;
          @media (min-width: $md) {
            width: 50px; height: 50px;
          }
        }
        #lcp-globalnoticeopen__closebutton svg line {
            stroke: $textColor
        }
        #lcp-globalnoticeopen__closebutton:focus svg line,
        #lcp-globalnoticeopen__closebutton:hover svg line,
        #lcp-globalnoticeopen__closebutton:active svg line {
            stroke: white;
        }


        
    #lcp-globalnoticeopen__section {
        padding-top: 2rem; padding-bottom: 1.75rem;
    }
        #lcp-globalnoticeopen__section h2 {
            margin-bottom: 1rem;
             @include font('serif', 'big', $textColor); line-height: 1.1em;

            font-size: 2rem;

            @media (min-width: $md) {
              font-size: 2.5rem;
            }

             span {
             	color: $highlightColor; text-transform: uppercase;
              display: block;
             }
        }
        #lcp-globalnoticeopen__section p {
          margin-bottom: 20px;
             @include font('serif', 'heading', $textColor);

            font-size: 1.3rem;

            @media (min-width: $md) {
              font-size: 1.5rem;
            }
        }
        #lcp-globalnoticeopen__section .button {
          
          padding: 0 10px;

          @media (min-width: $sm) {
            float: right;
            width: auto;
            padding: 0 30px;
          }
        }