{% if craft.request.getPost() is defined %}
  {% set post = craft.request.getPost() %}
  {{ dump(post) }}
{% endif %}

<form method="post" accept-charset="UTF-8">
    {{ getCsrfInput() }}
            
        <input type="hidden" name="action" value="entries/saveEntry">
        <input type="hidden" id="redirectinput" name="redirect" value="bookings/testEntries/thanks">
        <input type="hidden" name="sectionId" value="16">
        <input type="hidden" name="enabled" value="1"> 
        {% if entry is defined and entry | length %}
          <input type="hidden" name="entryId" value="{{ entry.id }}">
        {% endif %}

    {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% from _self import errorList %}

    <label for="title">Title</label>
    <input id="title" type="text" name="title"
        {%- if entry is defined %} value="{{ entry.title }}"{% endif -%}>

    {% if entry is defined %}
        {{ errorList(entry.getErrors('title')) }}
    {% endif %}

   <li><input type="text" name="fields[date][date]" id="dateinput" value="28/10/2016"></li>

    {% if entry is defined %}
      {{ dump(entry.getAllErrors()) }}
      {{ errorList(entry.getErrors('date')) }}
    {% endif %}


    <input type="submit" value="Publish">
</form>