{% if not currentUser and currentUser.can('accessCp') %}
  {% redirect "bookings/login" %}
{% endif %}

{% set metaTitle = 'Add entry' %}

{% extends "bookings/_layout" %}

{% block content %}

<div class="ui container">

    <div class="ui column grid">
      <div class="column">
        <h1 class="ui header">
          <i class="tag icon"></i>Add entry
        </h1>
      </div>
    </div>

    {#{% include "bookings/testEntries/_entryForm" %}#}
    {#{% include "bookings/testEntries/_defaultEntryForm" %}#}
    {% include "bookings/testEntries/_defaultProductForm" %}

</div>


{% endblock %}
