{% set breadcrumbEntries = [] %}
{% set breadcrumbEntries = breadcrumbEntries | merge([entry]) %}

{% if entry.metaTitle is defined and entry.metaTitle | length %}
    {% set metaTitle = entry.metaTitle %}
{% else %}
    {% set metaTitle = "La Cuisine, Paris - cooking classes and food tours in the heart of Paris" %}
{% endif %}
{% if entry.metaDescription is defined and entry.metaDescription | length %}
    {% set metaDescription = entry.metaDescription %}
{% else %}
    {% set metaDescription = "" %}
{% endif %}

{% extends "_layout" %}

{% block content %}

<div class="container">

	<header class="row">		
		{% include "_incs/_breadcrumb" with breadcrumbEntries %}

		{% set tabs = { 'overview': entry, 'channel': 'aboutUs' } %}
		{% include "_incs/_subnav" with tabs %}
	</header>
	<div class="row">
		{% include "_incs/_commonContent/_index" %}
	</div>

</div>

{% endblock %}