{% set breadcrumbEntries = [] %}

{% set item = {'title': 'Your account / Forgotten password', 'url': siteUrl ~ 'account'} %}
{% set breadcrumbEntries = breadcrumbEntries | merge([item]) %}

{% set metaTitle = "Forgotten password / La Cuisine Paris" %}

{% extends "_layout" %}

{% block content %}
<div class="container">

    <section>

        <div class="row">
    		{% include "_incs/_breadcrumb" with breadcrumbEntries %}
            <div class="col-md-5 col-sm-6">
                {% if craft.request.lastSegment == 'thank-you' %}
                    <p>Thank you. We have emailed you a link where you can set yourself a new password.</p>
                {% elseif craft.request.lastSegment == 'done' %}
                    <p>All done. Your new password has been saved. <a href="{{ siteUrl }}account/login">Click here to login.</a></p>
                {% else %}
                    <p>Please enter your email address and we'll send you a link to set a new password.</p>
                    <form method="post" accept-charset="UTF-8" class="defaultform">
                        {{ getCsrfInput() }}
                        <input type="hidden" name="action" value="users/forgotPassword">
                        <input type="hidden" name="redirect" value="account/login/password/thank-you">

                        <li class="row">
                            <div class="col-md-4 col-sm-3">
                                <label for="user">Email</label>
                            </div>
                            <div class="col-md-8 col-sm-9">
                                <input type="text" id="user" name="loginName" value="{{ craft.session.rememberedUsername }}" placeholder="">
                            </div>
                        </li>

                        <li class="checkbox">
                        <div class="row">
                            <div class="col-xs-6">
                            </div>
                            <div class="col-xs-6">
                                <button class="button caps" type="submit">Set new password</button>
                            </div>
                        </div>
                        </li>

                        <p><a href="{{ siteUrl }}account/login">{{ "Cancel" | translate }}</a></p>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-5 col-md-push-2 col-sm-6">  
            </div>
        </div>



    </section>

</div>

{% endblock %}