
{% if latitude is defined and longitude is defined and latitude | length and longitude | length %}
<div id="map"></div>

<script>
  function initMap() {
    var mapDiv = document.getElementById('map');
var position = new google.maps.LatLng({{ latitude }}, {{ longitude }});
var myOptions = {
    zoom: {% if mapZoom | length %}{{ mapZoom }}{% else %}12{% endif %},
    center: position,
    disableDefaultUI: true,
    zoomControl: true,
    zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.RIGHT_CENTER
    },          
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"all","elementType":"all","stylers":[{"saturation":"-100"}]}]

};
var map = new google.maps.Map(
    document.getElementById("map"),
    myOptions);
                
var marker = new google.maps.Marker({
position: new google.maps.LatLng({{ latitude }}, {{ longitude }} ),
map: map,
title: "La Cuisine Paris",
icon: new google.maps.MarkerImage("{{ siteUrl }}img/map-icon-tint.png")
});
                                                                                                                                                                                  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOQyonEaYUB6Htuc737xZXXawEhmJP7dg&callback=initMap">
</script>
{% endif %}
</div>