<div class="row">
  <div class="col-md-12">

    <div id="getintouchbox">
    	<div class="row">
    		<div class="col-lg-5 col-sm-4 col-xs-12">
    		     <h2>Get in touch</h2>
    		</div>
    		<div class="col-lg-7 col-sm-8 col-xs-12">
      			<p><strong>If you have any questions please don’t hesitate to call on <a href="tel:{{ tel }}">{{ tel }}</a> or email <a href="mailto:{{ email }}">{{ email }}</a></strong>&nbsp;&nbsp;&nbsp;
        		<br class="hidden-lg hidden-md"><a href="{{ siteUrl }}contact">Click here for further contact details</a></p>
        	</div>
        </div>
    </div>

  </div>
</div>