<div id="TA_percentRecommended536" class="TA_percentRecommended">
<ul id="Lzsf1TqrSTX" class="TA_links EEe0uQb">
<li id="QnVeQARmun0" class="5Fd3WsS">
<a target="_blank" href="https://www.tripadvisor.co.uk/"><img src="https://www.tripadvisor.co.uk/img2/widget/logo_shadow_109x26.png" alt="TripAdvisor" class="widPERIMG" id="CDSWIDPERLOGO"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=percentRecommended&amp;uniq=536&amp;locationId=1600380&amp;lang=en_UK&amp;border=false&amp;display_version=2"></script>
<div id="TA_certificateOfExcellence909" class="TA_certificateOfExcellence">
<ul id="3cmMY5HqY6W" class="TA_links be0G8kwueb">
<li id="4495X8nCRn9" class="uMF2ndX">
<a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g187147-d1600380-Reviews-La_Cuisine_Paris_Cooking_Classes-Paris_Ile_de_France.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
</li>
</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=909&amp;locationId=1600380&amp;lang=en_US&amp;year=2016&amp;display_version=2"></script>