
{% if address.firstName is not empty or address.lastName is not empty %}
    {% if address.firstName is not empty %}{{ address.firstName }}{% endif %} {% if address.lastName is not empty %}{{ address.lastName }}{% endif %}<br>
    
    {% if address.businessName is not empty %}{{ address.businessName }}<br>{% endif %}
{% endif %}

{% if address.address1 is not empty %}{{ address.address1 }}<br>{% endif %}
{% if address.address2 is not empty %}{{ address.address2 }}<br>{% endif %}
{% if address.zipCode is not empty or address.city is not empty %}
    {% if address.city is not empty %}{{ address.city }}<br>{% endif %}
    {% if address.zipCode is not empty %}{{ address.zipCode }}<br>{% endif %}
{% endif %}
{% if address.countryText is defined %}{{ address.countryText }}<br>{% endif %}
{% if address.stateText is defined %}{{ address.stateText }}<br>{% endif %}

{% if address.phone is not empty %}{{ address.phone }}{% endif %}
