{% set order = craft.commerce.orders.number(craft.request.getSegment(2)).first() %}
{% set breadcrumbEntries = [] %}

{% set item = {'title': 'Order #' ~ order.shortNumber, 'url': siteUrl ~ 'orders/' ~ order.number} %}
{% set breadcrumbEntries = breadcrumbEntries | merge([item]) %}
{% set item = {'title': 'Participants', 'url': siteUrl} %}
{% set breadcrumbEntries = breadcrumbEntries | merge([item]) %}

{% set metaTitle = 'Participants / Order #' ~ order.shortNumber %}

{##########################

orders/participants/###############
orders/thank-you/participants/###############

##########################}

{% extends "_layout" %}

{% block content %}
<div class="container">

    <section class="row">		
		{% include "_incs/_breadcrumb" with breadcrumbEntries %}

        {% include "orders/_incs/_participantsForm" %}

        </div>
        <div class="col-md-7">
        </div>

    </section>

</div>




{% endblock %}