{% if year is not defined %}
  {% set year = now | date('Y') %}
{% endif %}

{% if month is not defined %}
  {% set month = now | date('m') %}
{% endif %}

{% set thisMonth = date(year ~ '-' ~ month ~ '-01') %}
{% set lastMonth = date(year ~ '-' ~ month ~ '-01 - 1 month') %}
{% set nextMonth = date(year ~ '-' ~ month ~ '-01 + 1 month') %}

{% set breadcrumbEntries = [] %}
{% set yesterday = now|date_modify("-1 day") %}

{% set item = {'title': 'Calendar', 'url': siteUrl ~ 'calendar/'} %}
{% set breadcrumbEntries = breadcrumbEntries | merge([item]) %}
{% set item = {'title': thisMonth | date('F Y'), 'url': siteUrl ~ 'calendar/' ~ thisMonth | date('Y/m')} %}
{% set breadcrumbEntries = breadcrumbEntries | merge([item]) %}

{% set metaTitle = thisMonth | date('F Y') ~ " / Calendar / La Cuisine, Paris" %}
{% set metaDescription = "" %}

{% set calendarStartDate = date('01-' ~ month ~ '-' ~ year) %}
{% set vars = {
  'calendarStyle': 'calendar',
  'calendarStartDate': calendarStartDate | date('j F Y'),
  'calendarWeekBegins': 'Monday',
  'calendarLength': 'month',  
  'showDisabledProducts': currentUser
} %}

{% extends "_layout" %}

{% block content %}

{% set dates = craft.productsCalendar.getProducts(vars) %}

<div class="container">

	<header id="calendarheader" class="row">		
		{% include "_incs/_breadcrumb" with breadcrumbEntries %}
		<p id="calendarnextprevlinksheader" class="">
			<a href="{{ siteUrl }}calendar/{{ lastMonth | date('Y/m') }}" class="previousmonth">&lt; {{ lastMonth | date('F Y') }}</a> / <a href="{{ siteUrl }}calendar/{{ nextMonth | date('Y/m') }}" class="nextmonth">{{ nextMonth | date('F Y') }} &gt;</a>
		</p>
	</header>

	<div class="row">
		<div class="col-md-12">

	       	<table id="calendartable">
				<thead>
				<tr>
				  <th>Mon</th>
				  <th>Tue</th>
				  <th>Wed</th>
				  <th>Thu</th>
				  <th>Fri</th>
				  <th>Sat</th>
				  <th>Sun</th>
				</tr>
				</thead>
				<tbody class="topaligned">
					<tr>
					{% for productDay in dates.productDays %}
						<td {% if productDay.date <= yesterday %}class="hidden-xs"{% endif %}>
						<h2>{{ productDay.date | date('D j') }} <span class="month">{{ productDay.date | date('F') }}</span></h2>
						{% for product in productDay.products %}

							{% switch product.type %}

								{% case "class" %}
									{% if not product.privateClass | length or (parentOverview is defined and parentOverview.id == 1988) %}
									  {% set class = product.class.first %}
									  {% set parent = class.getParent() %}
									  {% set teacher = product.teacher.first %}
									  {% set variant = product.defaultVariant %}
									  <a href="{{ product.url }}" class="calendarproductlink {% if variant.stock == 0 %} full{% endif %} {% if productDay.date <= yesterday %}pastdate{% endif %}">
									  <h3 class="">{{ parent.title }} / {{ class.title }}</h3>
									  <ul>
									    <li>Time: {{ product.startTime | date('G:i') }} - {{ product.finishTime | date('G:i') }}</li>
									    <li>Price: {{ product.defaultVariant.price | currency(cart.currency) }}</li>
									    <li>{% include "classes/_incs/_productStock" %}</li>
									  </ul>
									</a>
									{% endif %}

								{########## HIDE THESE ###############}
								{% case "masterclass" %}
								  {% set masterclass = product.masterclass.first %}
								  {% set teacher = product.teacher.first %}
								  {% set variant = product.defaultVariant %}
								  <a href="{{ product.url }}" class="calendarproductlink masterclass {% if variant.stock == 0 %} full{% endif %} {% if productDay.date <= yesterday %}pastdate{% endif %}">
								  <h3 class="">{{ masterclass.title }}</h3>
								  <ul>
								    <li>Time: {{ product.startTime | date('G:i') }} - {{ product.finishTime | date('G:i') }}</li>
								    <li>Price: {{ product.defaultVariant.price | currency(cart.currency) }}</li>
								    <li>{% include "classes/_incs/_productStock" %}</li>
								  </ul>
								</a>

							{% endswitch %}

						{% endfor %}
						</td>
					{% if loop.index is divisible by(7) and not loop.last %}</tr><tr>{% endif %}
					{% endfor %}
					</tr>
				</tbody>
    		</table>

			<div class="row" id="calendarnextprevlinksfooter" class="">
				<div class="col-md-3">
					<a href="{{ siteUrl }}calendar/{{ lastMonth | date('Y/m') }}" class="previousmonth">&lt; {{ lastMonth | date('F Y') }}</a>
					</div>
				<div class="col-md-3 col-md-push-6">
					<a href="{{ siteUrl }}calendar/{{ nextMonth | date('Y/m') }}" class="nextmonth">{{ nextMonth | date('F Y') }} &gt;</a>
				</div>
			</div>

		</div>
	</div>


</div>

{% endblock %}