
            <form method="POST" class="">
                <input type="hidden" name="action" value="commerce/payments/pay"/>
                <input type="hidden" name="redirect" value="/orders/thank-you/order/{number}"/>
                <input type="hidden" name="cancelUrl" value="/checkout/payment"/>
                <input type="hidden" name="paymentMethodId" value="6">{# MANUAL METHOD ID IS 6 #}
                {{ getCsrfInput() }}
                <fieldset>
                    <div class="row">
                        <div class="col-md-12 col-md-push-0 col-sm-12">
                            <button type="submit" class="button blue checkout">Manual</button>
                        </div>
                    </div>
                </fieldset>
            </form>