{% set orders = craft.commerce.orders.hasPurchasables([variant]) %}
{% set numberSold = 0 %}
{% for order in orders %}
  {% for lineItem in order.lineItems %}
  	{% if lineItem.purchasable and lineItem.purchasable.id == variant.id %}
      {% set numberSold = numberSold + lineItem.qty %}
    {% endif %}                        
  {% endfor %}
{% endfor %}
<li><i class="user icon {% if variant.stock == 0 %} pink{% endif %}"></i> {{ variant.stock }} / {{ numberSold + variant.stock }} {% if waiting | length %}({{ waiting | length }} waiting){% endif %}</li>