/*
###################################
BUTTONS
###################################
*/
.button {
    display: block; width: 100%;
    margin-bottom: 0; padding-top: 2px;
    background: $highlightColor;
    @include font('sans', 16, white); font-weight: bold; text-decoration: none; text-align: center; text-transform: uppercase;
    cursor: pointer;
    line-height: 3rem;
    border: none;
}
.button.sub {
	background: $textColor; font-weight: normal;
}
@media (min-width: $sm) {
.button {
    line-height: 4.5rem;
}
.button.small {
	line-height: 2rem;
	background: $tintColor;
}
}
.button:focus, .button:hover, .button:active {
	background: $highlightColorActive;
}
.button.sub:focus, .button.sub:hover, .button.sub:active {
	background: $textColorDark;
}
.button.disabled {
	background: $textColor;
}
.button.disabled.soldout {
    margin-bottom: 10px;
}

.backtotop {
	display: block;
	@include font('sans', 16, $textColorLight); text-align: left;
}
.backtotop:focus, .backtotop:hover, .backtotop:active {
	color: $textColor;
}

/*
###################################
VIDEOS
###################################
*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/*
###################################
TABS
###################################
*/
nav.tabs {
	width: 100%;
	margin-bottom: 1rem;
}
.tab {
	display: block; height: 40px;
	margin: 0 0 0.25rem; padding: 0.1rem 0.75rem 0;
	@include font('serif', 18, $textColor, 'italic'); line-height: 2.5rem; text-decoration: none; text-align: center;
	background: $tintColor;
}
	.tab.active {
		background: $textColor;
		color: white;
	}
@media (min-width: $sm) {
nav.tabs {
	margin-bottom: 1.5rem;
	border-bottom: 2px solid $tintColor;
}
	.tab {
		margin: 0; margin-top: 10px;
		float: left;
		border-right: 10px solid #fff;
	}
}

.tab-pane {
	margin-bottom: 2rem;
}
	.tab-pane h3 {
		@include font('sans', 18, $textColor); font-weight: bold;
	}
@media (min-width: $sm) {
.tab-pane { 
	display: none;
	margin-bottom: 0;
}
.tab-pane.active { display: block; }
}

#imagessection {
	margin-bottom: 0;
}
	#imagessection figure {
		margin-bottom: 20px;
	}
	#imagessection figure.withcaption {
	}
	#imagessection figcaption {
		padding-top: 0.25rem;
		@include font('sans', 14, $highlightColor);
	}








.g-recaptcha {
	margin-bottom: 10px;
}